.App {
  text-align: center;
}

/*Variables*/
:root {
  --main-bg-color: #fafafa;
  --main-color-1: #efecff;
  --main-color-2: #9783dc;
  --main-color-3: #8f8f8f;
  --main-color-4: #633bfd;
  --main-color-5: #7f7e7e;
}
html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  z-index: 1000;
} */
a {
  text-decoration: none;
}
.app {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
}
/*Start Navbar*/
header nav {
  border-radius: 10px;
  z-index: 1000;
}
header nav > a {
  display: flex;
  align-items: center;
}
/* .list-links {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
} */

.logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #000;
}
.logo a > svg {
  font-size: 0.9rem;
  background-color: #633bfd;
  padding: 1px;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin-right: 5px;
}
.middle-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-link a:first-child,
.out > a {
  color: #9783dc;
  border-radius: 5px;
  font-weight: 600;
}
.middle-link a:first-child {
  /* width: 200px;
  height: 50px; */

  background-color: #efecff;
}
.middle-link a:last-child {
  color: #8f8f8f;
  font-weight: 600;
}
.out {
  border: 2px solid #9783dc;
  border-radius: 5px;
  background-color: transparent;
}
/*End Navbar*/
/*Start Phone*/
.phone,
.form {
  background-color: #fff;
  height: 80vh;
  border-radius: 12px;
  padding: 20px;
}
.phone {
  /* position: relative; */
  z-index: 1000;
}
.phone img {
  /* position: absolute; */
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone .info {
  /* position: absolute; */
}
/* .phone .items-box {
  position: absolute;
} */
/* .phone .info .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #8f8f8f;
  border-radius: 50%;
} */
.phone .info .name {
}
.phone .info .email {
}
/*End Phone*/

/*Start Form*/
.form {
  z-index: 1000;
}
.form h2 {
  font-weight: 700;
}
.form p {
  font-size: 0.9rem;
  color: #7f7e7e;
}
.form .add-link {
  border: 1px solid #1e1c24;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.form .add-link > p {
  font-size: 0.9rem;
  font-weight: 700;
  color: #9783dc;
}
.form .link-box {
  height: 200px;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 12px;
}
.form .link-box .link-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .link-box .link-title span:first-child {
  font-size: 0.9rem;
  font-weight: 700;
  color: #8f8f8f;
}
.form .link-box .link-title span:last-child {
  font-size: 1rem;
  font-weight: 400;
  color: #8f8f8f;
}
.form .link-box .link-info p {
  font-size: 0.7rem;
  font-size: 700;
  font-weight: 500;
  margin-bottom: 0;
}
.form .link-box .link-info svg {
  color: #666565;
}
/* .form .link-box .link-info input { */
/* width: 100%;
  outline: none;
  border: 1px solid #7f7e7e;
  border-radius: 5px; */
/* padding: 3px; */
/* } */

.form .link-box .link-info input:first-of-type {
  margin-bottom: 7px;
}

.save {
  float: right;
  background-color: #633bfd !important;
  color: #fff !important;
}
.part {
  width: 100%;
  height: 150px;
  background-color: #fafafa;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  padding: 20px;
}
.part p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
}
.part .image {
  width: 115px;
  height: 115px;
  /* background-color: #8f8f8f; */
  border-radius: 15px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
}
.part .image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.form form .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.form form .input label {
  color: #7f7e7e;
  font-weight: 400;
  font-size: 0.9rem;
}
.form form .input input {
  width: 50%;
  outline: none;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
  padding: 4px;
}

.form form .input input:focus {
  border: 1px solid #633bfd;

  -webkit-box-shadow: 2px 2px 4px 2px rgba(99, 59, 253, 0.19),
    2px 2px 27px 2px rgba(99, 59, 253, 0.19);
  box-shadow: 2px 2px 4px 2px rgba(99, 59, 253, 0.19),
    2px 2px 27px 2px rgba(99, 59, 253, 0.19);
}
/*End Form*/

/*Start Preview Page */
.previewPage {
  z-index: 1000;
}
/* 
.previewPage::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 500px;
  background-color: #633bfd;
  top: 0;
  left: 0;
} */

.bg-profile {
  position: absolute;
  background-color: #633bfd;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/*End Preview Page */
/*Start Navbar Preview*/
.two-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two-links button.out {
  flex: 1fr;
}
.two-links button.out {
  flex: 1fr;
}
.two-links button.ino {
  outline: none;
  border: none;
}
.two-links button.ino a {
  float: right;
  color: #fff;
  background-color: #633bfd;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #633bfd;
}
/*End Navbar Preview*/
/*Start Card*/
.card {
  margin-top: 60px;
  width: 280px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px !important;
  z-index: 2000;
}
.card .info .circle {
  width: 100px;
  height: 100px;

  margin: auto;
  margin-top: 30px;
  border: 4px solid #633bfd;
  border-radius: 50%;
  position: relative;
}
.card .info .circle img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.card .info .name {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}
.card .info .email {
  text-align: center;
  font-size: 0.9rem;
  color: #8f8f8f;
  margin-bottom: 50px;
}
.card .items-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
.card .items-box .item-box {
  /* background-color: #7f7e7e; */
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}
.card .items-box .item-box.github {
  background-color: #000;
}
.card .items-box .item-box.youtube {
  background-color: #ee393a;
}
.card .items-box .item-box.linkedin {
  background-color: #2d69ff;
}
/*End Card*/
.c-2 {
  background-color: #ddd;
  border: none;
  border: 0;
}
.n-2 {
  display: inline-flex;
  background-color: #eee;
  width: 150px;
  height: 20px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 50px;
  margin-left: 60px;
}
.e-2 {
  display: inline-flex;
  background-color: #eee;
  width: 90px;
  height: 8px;
  border-radius: 50px;
  margin-left: 90px;
}
